
img{
    
    border-radius: 20px;
}
#box{
    border: 3px solid rgb(186, 186, 186);
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}
.navbar{
    display:inline-block;
    margin: 10px;
    color: rgb(108, 108, 108);
    border: 2px solid rgb(191, 190, 190);
    border-radius: 20px;
    padding: 7px;
}
.width{
    width: 40vw;
}
p{
    font-size: 1.2em;
}
.link{
    color: blue;
    background-color: lightblue;
   display: flex;
    border-radius: 20px;
   padding: 5px;
  
    justify-content: center;
}